<a href="https://colab.research.google.com/github/codal-tshah/data-practices-2024/blob/9_may/Data_Warehouse/ETL_Pipelines_Tutorial_%7C_World_Bank_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [20]:
df_projects = pd.read_csv("/content/drive/MyDrive/data_practices/data warehouse/data/archive/projects_data.csv")

<ipython-input-20-525ec24e9264>:1: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  df_projects = pd.read_csv("/content/drive/MyDrive/data_practices/data warehouse/data/archive/projects_data.csv")

In [23]:
df_projects.dtypes

id                           object
regionname                   object
countryname                  object
prodline                     object
lendinginstr                 object
lendinginstrtype             object
envassesmentcategorycode     object
supplementprojectflg         object
productlinetype              object
projectstatusdisplay         object
status                       object
project_name                 object
boardapprovaldate            object
board_approval_month         object
closingdate                  object
lendprojectcost              object
ibrdcommamt                  object
idacommamt                   object
totalamt                     object
grantamt                     object
borrower                     object
impagency                    object
url                          object
projectdoc                  float64
majorsector_percent         float64
sector1                      object
sector2                      object
sector3                      object
sector4                      object
sector5                      object
sector                       object
mjsector1                   float64
mjsector2                   float64
mjsector3                   float64
mjsector4                   float64
mjsector5                   float64
mjsector                     object
theme1                       object
theme2                       object
theme3                       object
theme4                       object
theme5                       object
theme                       float64
goal                         object
financier                    object
mjtheme1name                float64
mjtheme2name                float64
mjtheme3name                float64
mjtheme4name                float64
mjtheme5name                float64
location                     object
GeoLocID                     object
GeoLocName                   object
Latitude                     object
Longitude                    object
Country                      object
Unnamed: 56                 float64
dtype: object

In [24]:
df_projects = pd.read_csv("/content/drive/MyDrive/data_practices/data warehouse/data/archive/projects_data.csv", dtype="str")
df_projects.dtypes

id                          object
regionname                  object
countryname                 object
prodline                    object
lendinginstr                object
lendinginstrtype            object
envassesmentcategorycode    object
supplementprojectflg        object
productlinetype             object
projectstatusdisplay        object
status                      object
project_name                object
boardapprovaldate           object
board_approval_month        object
closingdate                 object
lendprojectcost             object
ibrdcommamt                 object
idacommamt                  object
totalamt                    object
grantamt                    object
borrower                    object
impagency                   object
url                         object
projectdoc                  object
majorsector_percent         object
sector1                     object
sector2                     object
sector3                     object
sector4                     object
sector5                     object
sector                      object
mjsector1                   object
mjsector2                   object
mjsector3                   object
mjsector4                   object
mjsector5                   object
mjsector                    object
theme1                      object
theme2                      object
theme3                      object
theme4                      object
theme5                      object
theme                       object
goal                        object
financier                   object
mjtheme1name                object
mjtheme2name                object
mjtheme3name                object
mjtheme4name                object
mjtheme5name                object
location                    object
GeoLocID                    object
GeoLocName                  object
Latitude                    object
Longitude                   object
Country                     object
Unnamed: 56                 object
dtype: object

In [25]:
df_projects.head()

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56
0,P162228,Other,World;World,RE,Investment Project Financing,IN,C,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P163962,Africa,Democratic Republic of the Congo;Democratic Re...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P167672,South Asia,People's Republic of Bangladesh;People's Repub...,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P158768,South Asia,Islamic Republic of Afghanistan;Islamic Repu...,PE,Investment Project Financing,IN,A,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P161364,Africa,Federal Republic of Nigeria;Federal Republic o...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,0002327546!$!Ogun State!$!7!$!3.58333!$!NG;000...,0002327546;0002328925;0002565340;0002565343;00...,Ogun State;Niger State;Abia State;Edo;Kebbi St...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,NaN

In [26]:
df_projects.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18248 entries, 0 to 18247
Data columns (total 57 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        18248 non-null  object
 1   regionname                18248 non-null  object
 2   countryname               18248 non-null  object
 3   prodline                  18248 non-null  object
 4   lendinginstr              18002 non-null  object
 5   lendinginstrtype          18002 non-null  object
 6   envassesmentcategorycode  12437 non-null  object
 7   supplementprojectflg      18195 non-null  object
 8   productlinetype           18248 non-null  object
 9   projectstatusdisplay      18244 non-null  object
 10  status                    18244 non-null  object
 11  project_name              18248 non-null  object
 12  boardapprovaldate         16744 non-null  object
 13  board_approval_month      16744 non-null  object
 14  closingdate               14899 non-null  object
 15  lendprojectcost           18123 non-null  object
 16  ibrdcommamt               18248 non-null  object
 17  idacommamt                18248 non-null  object
 18  totalamt                  18248 non-null  object
 19  grantamt                  18248 non-null  object
 20  borrower                  12329 non-null  object
 21  impagency                 12151 non-null  object
 22  url                       18248 non-null  object
 23  projectdoc                0 non-null      object
 24  majorsector_percent       0 non-null      object
 25  sector1                   18248 non-null  object
 26  sector2                   9527 non-null   object
 27  sector3                   6487 non-null   object
 28  sector4                   4376 non-null   object
 29  sector5                   2713 non-null   object
 30  sector                    17610 non-null  object
 31  mjsector1                 0 non-null      object
 32  mjsector2                 0 non-null      object
 33  mjsector3                 0 non-null      object
 34  mjsector4                 0 non-null      object
 35  mjsector5                 0 non-null      object
 36  mjsector                  17610 non-null  object
 37  theme1                    18248 non-null  object
 38  theme2                    9853 non-null   object
 39  theme3                    7484 non-null   object
 40  theme4                    5234 non-null   object
 41  theme5                    2928 non-null   object
 42  theme                     0 non-null      object
 43  goal                      12133 non-null  object
 44  financier                 7060 non-null   object
 45  mjtheme1name              0 non-null      object
 46  mjtheme2name              0 non-null      object
 47  mjtheme3name              0 non-null      object
 48  mjtheme4name              0 non-null      object
 49  mjtheme5name              0 non-null      object
 50  location                  4326 non-null   object
 51  GeoLocID                  4326 non-null   object
 52  GeoLocName                4325 non-null   object
 53  Latitude                  4326 non-null   object
 54  Longitude                 4326 non-null   object
 55  Country                   4203 non-null   object
 56  Unnamed: 56               0 non-null      object
dtypes: object(57)
memory usage: 7.9+ MB

In [27]:
df_projects.describe()

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56
count,18248,18248,18248,18248,18002,18002,12437,18195,18248,18244,...,0,0,0,4326,4326,4325,4326,4326,4203,0
unique,18248,7,206,10,18,4,6,2,1,4,...,0,0,0,3882,3750,3808,3727,3752,2048,0
top,P162228,Africa,Republic of India;Republic of India,PE,Specific Investment Loan,IN,B,N,L,Closed,...,NaN,NaN,NaN,0000281132!$!Gaza Strip!$!31.41667!$!34.333328...,0000281132;0000285153,Gaza Strip;West Bank,31.41667;31.66667,34.333328;35.25,CN,NaN
freq,1,5710,784,14685,7626,15916,5586,16323,18248,14055,...,NaN,NaN,NaN,13,17,17,17,13,58,NaN

In [28]:
df_projects.isnull().sum()

id                              0
regionname                      0
countryname                     0
prodline                        0
lendinginstr                  246
lendinginstrtype              246
envassesmentcategorycode     5811
supplementprojectflg           53
productlinetype                 0
projectstatusdisplay            4
status                          4
project_name                    0
boardapprovaldate            1504
board_approval_month         1504
closingdate                  3349
lendprojectcost               125
ibrdcommamt                     0
idacommamt                      0
totalamt                        0
grantamt                        0
borrower                     5919
impagency                    6097
url                             0
projectdoc                  18248
majorsector_percent         18248
sector1                         0
sector2                      8721
sector3                     11761
sector4                     13872
sector5                     15535
sector                        638
mjsector1                   18248
mjsector2                   18248
mjsector3                   18248
mjsector4                   18248
mjsector5                   18248
mjsector                      638
theme1                          0
theme2                       8395
theme3                      10764
theme4                      13014
theme5                      15320
theme                       18248
goal                         6115
financier                   11188
mjtheme1name                18248
mjtheme2name                18248
mjtheme3name                18248
mjtheme4name                18248
mjtheme5name                18248
location                    13922
GeoLocID                    13922
GeoLocName                  13923
Latitude                    13922
Longitude                   13922
Country                     14045
Unnamed: 56                 18248
dtype: int64

In [29]:
df_projects.shape

(18248, 57)

population

In [34]:
df_population = pd.read_csv("/content/drive/MyDrive/data_practices/data warehouse/data/archive/population_data.csv", skiprows=3)
df_population.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2014              float64
2015              float64
2016              float64
2017              float64
Unnamed: 62       float64
Length: 63, dtype: object

In [33]:
df_population.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0,NaN
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0,NaN
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0,NaN
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,NaN
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0,NaN

In [35]:
df_population.isnull().sum()

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960                4
                 ...
2014                2
2015                2
2016                2
2017                2
Unnamed: 62       264
Length: 63, dtype: int64

In [37]:
df_population.shape

(264, 63)

In [38]:
df_population.isnull().sum(axis=1)

0      1
1      1
2      1
3      1
4      1
      ..
259    1
260    1
261    1
262    1
263    1
Length: 264, dtype: int64

In [39]:
print(df_population)

     Country Name Country Code     Indicator Name Indicator Code        1960  \
0           Aruba          ABW  Population, total    SP.POP.TOTL     54211.0
1     Afghanistan          AFG  Population, total    SP.POP.TOTL   8996351.0
2          Angola          AGO  Population, total    SP.POP.TOTL   5643182.0
3         Albania          ALB  Population, total    SP.POP.TOTL   1608800.0
4         Andorra          AND  Population, total    SP.POP.TOTL     13411.0
..            ...          ...                ...            ...         ...
259        Kosovo          XKX  Population, total    SP.POP.TOTL    947000.0
260   Yemen, Rep.          YEM  Population, total    SP.POP.TOTL   5172135.0
261  South Africa          ZAF  Population, total    SP.POP.TOTL  17456855.0
262        Zambia          ZMB  Population, total    SP.POP.TOTL   3044846.0
263      Zimbabwe          ZWE  Population, total    SP.POP.TOTL   3747369.0

           1961        1962        1963        1964        1965  ...  \
0       55438.0     56225.0     56695.0     57032.0     57360.0  ...
1     9166764.0   9345868.0   9533954.0   9731361.0   9938414.0  ...
2     5753024.0   5866061.0   5980417.0   6093321.0   6203299.0  ...
3     1659800.0   1711319.0   1762621.0   1814135.0   1864791.0  ...
4       14375.0     15370.0     16412.0     17469.0     18549.0  ...
..          ...         ...         ...         ...         ...  ...
259    966000.0    994000.0   1022000.0   1050000.0   1078000.0  ...
260   5260501.0   5351799.0   5446063.0   5543339.0   5643643.0  ...
261  17920673.0  18401608.0  18899275.0  19412975.0  19942303.0  ...
262   3140264.0   3240587.0   3345145.0   3452942.0   3563407.0  ...
263   3870756.0   3999419.0   4132756.0   4269863.0   4410212.0  ...

           2009        2010        2011        2012        2013        2014  \
0      101453.0    101669.0    102053.0    102577.0    103187.0    103795.0
1    28004331.0  28803167.0  29708599.0  30696958.0  31731688.0  32758020.0
2    22549547.0  23369131.0  24218565.0  25096150.0  25998340.0  26920466.0
3     2927519.0   2913021.0   2905195.0   2900401.0   2895092.0   2889104.0
4       84462.0     84449.0     83751.0     82431.0     80788.0     79223.0
..          ...         ...         ...         ...         ...         ...
259   1761474.0   1775680.0   1791000.0   1805200.0   1824100.0   1821800.0
260  22974929.0  23606779.0  24252206.0  24909969.0  25576322.0  26246327.0
261  50970818.0  51584663.0  52263516.0  52998213.0  53767396.0  54539571.0
262  13456417.0  13850033.0  14264756.0  14699937.0  15153210.0  15620974.0
263  13810599.0  14086317.0  14386649.0  14710826.0  15054506.0  15411675.0

           2015        2016        2017  Unnamed: 62
0      104341.0    104822.0    105264.0          NaN
1    33736494.0  34656032.0  35530081.0          NaN
2    27859305.0  28813463.0  29784193.0          NaN
3     2880703.0   2876101.0   2873457.0          NaN
4       78014.0     77281.0     76965.0          NaN
..          ...         ...         ...          ...
259   1801800.0   1816200.0   1830700.0          NaN
260  26916207.0  27584213.0  28250420.0          NaN
261  55291225.0  56015473.0  56717156.0          NaN
262  16100587.0  16591390.0  17094130.0          NaN
263  15777451.0  16150362.0  16529904.0          NaN

[264 rows x 63 columns]

In [40]:
df_population = df_population.drop('Unnamed: 62', axis=1)

In [41]:
print(df_population)

     Country Name Country Code     Indicator Name Indicator Code        1960  \
0           Aruba          ABW  Population, total    SP.POP.TOTL     54211.0
1     Afghanistan          AFG  Population, total    SP.POP.TOTL   8996351.0
2          Angola          AGO  Population, total    SP.POP.TOTL   5643182.0
3         Albania          ALB  Population, total    SP.POP.TOTL   1608800.0
4         Andorra          AND  Population, total    SP.POP.TOTL     13411.0
..            ...          ...                ...            ...         ...
259        Kosovo          XKX  Population, total    SP.POP.TOTL    947000.0
260   Yemen, Rep.          YEM  Population, total    SP.POP.TOTL   5172135.0
261  South Africa          ZAF  Population, total    SP.POP.TOTL  17456855.0
262        Zambia          ZMB  Population, total    SP.POP.TOTL   3044846.0
263      Zimbabwe          ZWE  Population, total    SP.POP.TOTL   3747369.0

           1961        1962        1963        1964        1965  ...  \
0       55438.0     56225.0     56695.0     57032.0     57360.0  ...
1     9166764.0   9345868.0   9533954.0   9731361.0   9938414.0  ...
2     5753024.0   5866061.0   5980417.0   6093321.0   6203299.0  ...
3     1659800.0   1711319.0   1762621.0   1814135.0   1864791.0  ...
4       14375.0     15370.0     16412.0     17469.0     18549.0  ...
..          ...         ...         ...         ...         ...  ...
259    966000.0    994000.0   1022000.0   1050000.0   1078000.0  ...
260   5260501.0   5351799.0   5446063.0   5543339.0   5643643.0  ...
261  17920673.0  18401608.0  18899275.0  19412975.0  19942303.0  ...
262   3140264.0   3240587.0   3345145.0   3452942.0   3563407.0  ...
263   3870756.0   3999419.0   4132756.0   4269863.0   4410212.0  ...

           2008        2009        2010        2011        2012        2013  \
0      101353.0    101453.0    101669.0    102053.0    102577.0    103187.0
1    27294031.0  28004331.0  28803167.0  29708599.0  30696958.0  31731688.0
2    21759420.0  22549547.0  23369131.0  24218565.0  25096150.0  25998340.0
3     2947314.0   2927519.0   2913021.0   2905195.0   2900401.0   2895092.0
4       83861.0     84462.0     84449.0     83751.0     82431.0     80788.0
..          ...         ...         ...         ...         ...         ...
259   1747383.0   1761474.0   1775680.0   1791000.0   1805200.0   1824100.0
260  22356391.0  22974929.0  23606779.0  24252206.0  24909969.0  25576322.0
261  50412129.0  50970818.0  51584663.0  52263516.0  52998213.0  53767396.0
262  13082517.0  13456417.0  13850033.0  14264756.0  14699937.0  15153210.0
263  13558469.0  13810599.0  14086317.0  14386649.0  14710826.0  15054506.0

           2014        2015        2016        2017
0      103795.0    104341.0    104822.0    105264.0
1    32758020.0  33736494.0  34656032.0  35530081.0
2    26920466.0  27859305.0  28813463.0  29784193.0
3     2889104.0   2880703.0   2876101.0   2873457.0
4       79223.0     78014.0     77281.0     76965.0
..          ...         ...         ...         ...
259   1821800.0   1801800.0   1816200.0   1830700.0
260  26246327.0  26916207.0  27584213.0  28250420.0
261  54539571.0  55291225.0  56015473.0  56717156.0
262  15620974.0  16100587.0  16591390.0  17094130.0
263  15411675.0  15777451.0  16150362.0  16529904.0

[264 rows x 62 columns]

In [46]:
df_population.isnull().sum(axis=1)

0      0
1      0
2      0
3      0
4      0
      ..
259    0
260    0
261    0
262    0
263    0
Length: 264, dtype: int64

In [47]:
df_population[df_population.isnull().any(axis=1)]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
67,Eritrea,ERI,"Population, total",SP.POP.TOTL,1397491.0,1432640.0,1469645.0,1508273.0,1548187.0,1589179.0,...,4232636.0,4310334.0,4390840.0,4474690.0,NaN,NaN,NaN,NaN,NaN,NaN
108,Not classified,INX,"Population, total",SP.POP.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,Kuwait,KWT,"Population, total",SP.POP.TOTL,269618.0,301336.0,338296.0,379891.0,425235.0,473554.0,...,2652340.0,2818939.0,2998083.0,3191051.0,3395556.0,3598385.0,3782450.0,3935794.0,4052584.0,4136528.0
194,West Bank and Gaza,PSE,"Population, total",SP.POP.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,3596688.0,3702218.0,3811102.0,3927051.0,4046901.0,4169506.0,4294682.0,4422143.0,4551566.0,4684777.0
212,Serbia,SRB,"Population, total",SP.POP.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,7350222.0,7320807.0,7291436.0,7234099.0,7199077.0,7164132.0,7130576.0,7095383.0,7058322.0,7022268.0
223,Sint Maarten (Dutch part),SXM,"Population, total",SP.POP.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,33964.0,34238.0,34056.0,33435.0,34640.0,36607.0,37685.0,38824.0,39969.0,41109.0

Read Json File

In [51]:
df_population_json = pd.read_json("/content/drive/MyDrive/data_practices/data warehouse/data/archive/population_data.json", orient="records")
df_population_json.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0